{% load static %}
<html>

<head>
    <title>Photest</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#div1").hide();
            $("#myinfo").click(function () {
                $("#div1").toggle();
            });
        });
        $(document).ready(function () {
            $("#div2").hide();
            $("#myphoto").click(function () {
                $("#div2").toggle();
            });
        });
        $(document).ready(function () {
            $("#div3").hide();
            $("#report").click(function () {
                $("#div3").toggle();
            });
        });
        $(document).ready(function () {
            $("#div4").hide();
            $("#reward").click(function () {
                $("#div4").toggle();
            });
        });

    </script>
</head>

<body style="overflow-x:hidden">
    <div class="title">
        <font id="short-title"><a href="/" class="title-text"> Photest</a></font>
        <font id="long-title">_Photo Contest </font>
    </div>
    <div id="category">
        {% if user.is_authenticated %}
        <button id="mypage_btn" class="button"><a href="http://127.0.0.1:8000/mypage/">MyPage</a></button>
        <button id="board_btn" class="button"><a href="http://127.0.0.1:8000/photo_list/">Board </a></button>
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% else %}
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% endif %}
    </div><br><br><br>

    <div class="ranking-reward">
        <font> Ranking Reward</font>
        <div class="ranking-reward-check">
            {% if user.profile.rewardCnt == 1 %}
            <img src="{% static 'image/reward_check.png' %}" />
            <img src="{% static 'image/reward.png' %}" />
            <img src="{% static 'image/reward.png' %}" />
            {% elif user.profile.rewardCnt == 2 %}
            <img src="{% static 'image/reward_check.png' %}" />
            <img src="{% static 'image/reward_check.png' %}" />
            <img src="{% static 'image/reward.png' %}" />
            {% elif user.profile.rewardCnt == 3 %}
            <img src="{% static 'image/reward_check.png' %}" />
            <img src="{% static 'image/reward_check.png' %}" />
            <img src="{% static 'image/reward_check.png' %}" />
            {% else %}
            <img src="{% static 'image/reward.png' %}" />
            <img src="{% static 'image/reward.png' %}" />
            <img src="{% static 'image/reward.png' %}" />
            {% endif %}
        </div>
    </div>

    <div class="buttons">
        <button id="myinfo" type="button"> 개인정보 수정 </button><br><br><br>
        <button id="myphoto" type="button"> 내 게시글 </button><br><br><br>

        <button id="report" type="button"> Report </button><br><br><br>
        <button id="reward" type="button"> Reward </button><br><br><br>

    </div><br><br>
    <form id="editInfo" action="{% url 'accounts:mypage' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="div1">
            <h2> 개인 정보 수정 </h2>
            <table cellspacing="10">
            <tr><td>User ID </td><td>: {{user.username}} </td></tr>
            <br>
            <tr><td>Password </td><td>: <input type="password" name="password" size="10"></td></tr>
            <tr></tr>
            <tr><td>E-mail </td><td>: <input type="text" name="email" size="20" placeholder="{{user.email}}"></td></tr>
            <!-- <button id="cancel"> 취소 </button> -->
        </table>
            <input type="submit" value="OK" id="ok_btn" />
        </div>
    </form>
    <div id="div2">
        <h2> 내 게시글 </h2>
        {% for object in photos %}
        <img src=" {{ object.image.url }}" width=250px height=260px />
        {% endfor %}
    </div>

    <div id="div3">
        <h2> Report 당한 횟수 : {{user.profile.reportCnt}} 번</h2>
        
        <!-- <input type="submit" value="OK" id="ok_btn" /> -->
    </div>

    <div id="div4">
        <h2> Reward 받은 횟수 </h2>
        {{user.profile.rewardCnt}} 번<br><br>
        <form id="reward" method="get" action=""> <!-- action으로 url-->
            <table boder="" cellspacing="10">
                <tr>
                    <td> <b>지정할 해시태그 </b></td>
                    <td> : <font weight = "bold"> # </font><input type="text" name="user_hashtag" size="15" style="border: 3px solid gray; width:150px; height:30px;"></td>
                </tr>
                <tr>
                    <td> <b>지정할 날짜 </b></td>
                    <td> : <input type="date" name="user_date" style="border: 3px solid gray; width:150px; height:30px;"></td>
                </tr>
                {%if user.profile.rewardCnt == 3 %}
                <input type="submit" value="OK" id="confirm" />
                {% endif %}
            </table>
        </form>
    </div>

</body>

</html>