{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/best.css' %}">
        <title> Photest </title>
        <meta charset = "utf-8">
       
    </head>
    <body>
        <div id = "title">
        <font size = "30" color = "gray"> Photest</font>
        <font size = "5" color = "gray"> _Photo Contest </font>
        </div>
        <div id = "category">
            <button id = "best_btn" class = "button"> Best </button> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id = "mypage_btn" class = "button"> Mypage </button>
        </div><br><br>

    <h1> 2019년 11월 23일 &nbsp;&nbsp;&nbsp;#노을 </h1>
    <div id = "day">
        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".shaded_heart.png" align = "right"/>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".heart.png" align = "right"/>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".heart.png" align = "right"/>
            </div>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".shaded_heart.png" align = "right"/>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".shaded_heart.png" align = "right"/>
        </div>

    </div>
    </body>
</html>