{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/best.css' %}">
    <title> Photest </title>
    <meta charset="utf-8">
</head>

<body>
    <div class="title">
        <font id="short-title"><a href="/" class="title-text"> Photest</a></font>
        <font id="long-title">_Photo Contest </font>
    </div>
    <div id="category">
        {% if user.is_authenticated %}
        <button id="mypage_btn" class="button"><a href="{%url 'accounts:mypage'%}">MyPage</a></button>
        <button id="board_btn" class="button"><a href="http://127.0.0.1:8000/photo_list/">Board </a></button>
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% else %}
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% endif %}
    </div><br><br>

    <div id="date">
        <h2>{{ days.0 }} {{ tags.0 }}</h2>
    </div>
    <div id="day">
        <div id="frame">
            <div id="photos">
                <img src="{{ bestPhotos.0.image.url }}" width="200px" height="220px">
            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>
        <div id="frame">
            <div id="photos">
                <img src="{{ bestPhotos.1.image.url }}" width="200px" height="220px">
            </div>
            <img src=".heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
                <img src="{{ bestPhotos.2.image.url }}" width="200px" height="220px">

            </div>
            <img src=".heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
                <img src="{{ bestPhotos.3.image.url }}" width="200px" height="220px">

            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
                <img src="{{ bestPhotos.4.image.url }}" width="200px" height="220px">
            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id = "date">
            <h2>{{ days.1 }} {{ tags.1 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.5.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.6.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.7.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.8.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.9.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <div id = "date">
            <h2>{{ days.2 }} {{ tags.2 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.10.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.11.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.12.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.13.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.14.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <div id = "date">
            <h2>{{ days.3 }} {{ tags.3 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.15.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.16.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.17.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.18.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.19.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id = "date">
            <h2>{{ days.4 }} {{ tags.4 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.20.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.21.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.22.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.23.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.24.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id = "date">
            <h2>{{ days.5 }} {{ tags.5 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.25.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.26.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.27.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.28.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.29.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div id = "date">
            <h2>{{ days.6 }} {{ tags.6 }}</h2>
        </div>
        <div id="day">
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.30.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.31.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.32.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.33.image.url }}" width = "200px" height = "220px">
    
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
    
            <div id="frame">
                <div id="photos">
                    <img src="{{ bestPhotos.34.image.url }}" width = "200px" height = "220px">
                </div>
                <img src=".shaded_heart.png" align="right" />
            </div>
        </div> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>