{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/best.css' %}">
    <title> Photest </title>
    <meta charset="utf-8">
</head>

<body>
    <div class="title">
        <font id="short-title"><a href="/" class="title-text"> Photest</a></font>
        <font id="long-title">_Photo Contest </font>
    </div>
    <div id="category">
        <button id="mypage_btn" class="button"><a href="http://127.0.0.1:8000/mypage/"></a> Mypage </button>
        <button id="board_btn" class="button"><a href="http://127.0.0.1:8000/photo_list/">Board </a></button>
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
    </div><br><br>

    <!-- 해시태그랑 날짜는 변수로 바꿔야 할듯 -->
    <h1> 2019년 11월 23일 &nbsp;&nbsp;&nbsp;#노을 </h1>

    <!-- 매일 똑같은 형태가 반복되는 부분 -->
    <div id="day">
        <div id="frame">
            <div id="photos">
            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
            </div>
            <img src=".heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
            </div>
            <img src=".heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>

        <div id="frame">
            <div id="photos">
            </div>
            <img src=".shaded_heart.png" align="right" />
        </div>
    </div>

</body>

</html>