{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/board.css' %}">
        <title> Photest </title>
        <meta charset = "utf-8">
        <style>
            #frame { z-index: 1000}
            #photos { z-index: 1001}
            #frame img { z-index:1002}
            </style>
    </head>
    <body>
        <div id = "title">
        <font size = "30" color = "gray"> Photest</font>
        <font size = "5" color = "gray"> _Photo Contest </font>
        </div>
        <div id = "category">
            <button id = "best_btn" class = "button"> Best </button> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id = "mypage_btn" class = "button"> Mypage </button>
        </div><br><br>

        <div class="today-hashtag-container">
            <h2>오늘의 해시태그</h2>
        </div>

        <div class="today-hashtag">
            
            <h1><a href="/" style="color:black"># 노을 </a></h1>
        </div>
        <Br><Br><br></br></br></br>

        <div id = "search">
            <input type = "text" id = "isearch" placeholder = "# Hashtag를 입력하세요">
            <button id = "bsearch"> 검색 </button>
            My favorite Hashtag : 
        </div>

        <div id = "board">
        <div id = "add">
            <button class = "button" onclick="location.href='upload.html'"> + </button>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=" {{ object.image.url }}" class="card-img-top" alt="..." align = "right" z-index="-1"/>
            {% block content %}
            {% endblock %}
        </div>

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=" {{ object.image.url }}" class="card-img-top" alt="..." align = "right"/>
            </div>

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=".heart.png" align = "right"/>
            </div>
        </div>

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=".heart.png" align = "right"/>
            </div>
        </div>




    </div>
    </body>
</html>