{%extends 'photo/detail_view.html'%}
{% block title %}
{% endblock %}
{%block content%}
{% load static %}
<style type="text/css">
    #report {
        position: relative;
        height: 30px;
        width: 50px;
        top: -360px;
        left: 190px;
        z-index: 100;
    }

    #author {
        position: relative;
        height: 30px;
        width: 50px;
        top: -360px;
        left: 500px;
        z-index: 100;
    }

    #heart {
        position: relative;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 25px;
    }

    #download {
        position: relative;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 390px;
    }
</style>
<button id="report" class="button"> 신고 </button>

<div class="author" align="left">
    {{ object.author }}
</div>

<div id="uploadDiv">

    <div id="uploadFrame">
        <img src=" {{ object.image.url }}" class="card-img-top" alt="...">
    </div>

    <br>

    <img id="heart" src="{% static 'image/heart.png' %}" width=30px height=30px />
    <img id="download" src="{% static 'image/download.png' %}" width=30px height=30px />

    <!-- <label for="ex_file">image</label> 
            <input type="file" id="ex_file"> <br><Br> -->

    <Br><Br>
</div>
<!-- </center> -->


</div>
{%endblock%}