{% load static %}
<html>
    <head>
        <title> Join </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="{% static 'css/join.css' %}">
       
    </head>
    <body>
        <div id = "title">
        <font size = "30" color = "gray"><a href="http://127.0.0.1:8000/"> Photest </a></font>
        <font size = "5" color = "gray"> _Photo Contest </font>
        </div>
        <div id = "category">
            <button id = "best_btn" class = "button"> Best </button> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id = "board_btn" class = "button"> Board </button>
        </div><br><br>

        <center>
        <h2> 회원가입 </h2>
        <div id = "notice">
            약관에 동의하는 사람만 회원가입 하거라~~ 
            <br><br><br><br>
        </div>

        <div id = "join">
            ID : <input type = "text" size = "20"> <button> 중복확인</button> <br><br>
            Password : <input type = "text" size = "20"><br><br>
            E-mail : <input type = "text" size = "20"> <br><br>
        </div>

        <button> 취소 </button>
        <button> 확인 </button>
        </center>
    </body>
</html>