{%extends 'photo/best.html'%}
{%block content%}
<div id="frame_frame">
    <div id="frame">
        <form method="GET" action="{% url 'accounts:report' %}">
            <input type="hidden" name="path" value="{{request.path}}" />
            <input type="hidden" name="author" value="{{object.author}}" />
            <button id="report">신고</button>
            <!-- <button id="report"> <a href="{}"> 신고 </a></button> -->
        </form>

        <div id="photos">
            <img src=" {{ object.image.url }}" class="card-img-top" alt="..." width=250px height=260px />
        </div>

        <a href="{{object.image.url}}" download="photo.jpg">
            <img id="download" src="{% static 'image/download.png' %}" width=25px height=25px align="right"></img>

            <!-- <img id="heart" src="{% static 'image/heart.png' %}" width=25px height=25px align="right" /> -->
            <li class="list-group-item">
                {%if user in object.like.all %}
                <a href="{% url 'photo:like' object.id %}">
                    <img src="{% static 'image/shaded_heart.png' %}" class="btn-like.active" width=25px height=25px
                        align="right"></img></a>
                {% else %}
                <a href="{% url 'photo:like' object.id %}">
                    <img src="{% static 'image/heart.png' %}" class="btn-like" width=25px height=25px
                        align="right"></img></a>
                {%endif%}
                {% if object.like.all.count %}
                <span class="float-right">
                    {{object.like.all.count}}
                </span>
                {%endif%}
            </li>

            <div class="card-header" align="left">
                {{ object.author }} >
            </div>

            <div class="card-body">
                <p class="card-text" align="left">
                    {% if object.hashtag.tag.0 %}
                    # {{ object.hashtag.tag.0 }}
                    {% endif %}
                    {% if object.hashtag.tag.1 %}
                    # {{object.hashtag.tag.1}}
                    {% endif %}
                    {% if object.hashtag.tag.2 %}
                    # {{object.hashtag.tag.2}}
                    {% endif %}
                </p>
            </div>




 {%endblock%}