{% load static %}
<html>
    <head>
        <title>Photest</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#div1").hide();
        $("#myinfo").click(function(){
        $("#div1").toggle();
    });
});</script>
    </head>
    <body>
            <div class = "title">
                <font size = "30" color = "gray"><a href="/"> Photest </a></font>
                <font size = "5" color = "gray"> _Photo Contest </font>
            </div>
            <div id = "category">
                <button id = "best_btn" class = "button"><a href="http://127.0.0.1:8000/best/"> Best </a></button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id = "board_btn" class = "button"><a href="http://127.0.0.1:8000/photo_list/"> Board </a></button>
            </div><br><br>
            <div class = "ranking-reward">
                <font> Ranking Reward</font>
            </div>
            <div class="ranking-reward-check">
                <img src="{% static 'image/reward_check.png' %}"/>
                <img src="{% static 'image/reward.png' %}"/>
                <img src="{% static 'image/reward.png' %}"/>
            </div>

            <div class = "button">
                <button id = "myinfo" type="button"><a href="http://127.0.0.1:8000/edit_profile/"> 개인정보 수정 </a></button><br><br><br>
                <button id = "myphoto" type="button"> 내 게시글 </button><br><br><br>
                <button id = "liked_hashtag" type="button"> liked hashtag </button><br><br><br>
                <button id = "report" type="button"> 신고 </button><br><br><br>
                <button id = "reward" type="button"> Reward </button> 
            </div><br><br>
            <center>
                    <div id = "div1">
                <h2> 개인 정보 수정 </h2>
            
                
                    ID : <input type = "text" size = "20"> <button> 중복확인</button> <br><br>
                    Password : <input type = "text" size = "20"><br><br>
                    E-mail : <input type = "text" size = "20"> <br><br>
                
        
                <button> 취소 </button>
                <button> 확인 </button>
            </div>
                </center>
    </body>
</html>