{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/photo_list.css' %}">
    <title> Photest </title>
    <meta charset="utf-8">
    <script type="text/javascript">
        function remove_div(obj) {
            document.getElementById('frame').removeChild(obj.parentNode);
        }
    </script>

    <style>
        .btn-like {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url("/static/images/heart.png");
            /* background-position: -30% -10%; */
            text-indent: -9999px; 
            overflow: hidden;
            border: none;
        }

        .btn-like.active {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url("/static/images/shaded_heart.png");
            /* background-position: -50px -400px; */
            text-indent: -9999px;
            overflow: hidden;
            border: none;
        }
    </style>

</head>

<body>
    <div class="title">
        <font id="short-title"><a href="/" class="title-text"> Photest</a></font>
        <font id="long-title">_Photo Contest </font>
    </div>
    <div id="category">
        {% if user.is_authenticated %}
        <button id="mypage_btn" class="button"><a href="{%url 'accounts:mypage'%}">MyPage</a></button>
        <button id="board_btn" class="button"><a href="http://127.0.0.1:8000/photo_list/">Board </a></button>
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% else %}
        <button id="best_btn" class="button"><a href="http://127.0.0.1:8000/best/"> Best </a></button>
        {% endif %}
    </div><br><br>

    <div class="today-hashtag-container">
        <h2>오늘의 해시태그</h2>
    </div>

    <div class="today-hashtag">

        <!-- <h1><a href="/" style="color:black"># 노을 </a></h1> -->
        <h1><a href="http://127.0.0.1:8000/hashtag_board/" style="color:black"> #{{todaytag}} </a></h1>
    </div>
    <Br><Br><br></br></br></br>

    </form>

    
<div id="board">
    <form id="search" action="{%url 'photo:photo_list'%}">
        <div id="dsearch">
            <input type="text" id="isearch" name="search" value = "{{search}}" placeholder="# Hashtag를 입력하세요" />
            <input type="submit" value="search" id = "bsearch"/>
        </div>
    </form>

    <div id="board">

        <div id="add">
            <button class="button"><a href="http://127.0.0.1:8000/upload/">
                    <font size="80" text-align="center"> + </font>
                </a></button>
        </div>
        {% for object in object_list %}
        <div id="frame_frame">
            <div id="frame">
                <form method="GET" action="">
                    <button id="report"> <a href="{% url 'account:report' object.id %}"> 신고 </a></button>
                </form>
                <div class="card">
                    <div id="photos">
                        <div class='container'>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-5">
                                    <img src=" {{ object.image.url }}" class="card-img-top" alt="..." width=250px
                                        height=260px />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                 <a href="{{object.image.url}}" download="photo.jpg">
                    <img id="download" src="{% static 'image/download.png' %}" width=25px height=25px align="right"></img>
                </a>
                <!-- <img id="heart" src="{% static 'image/heart.png' %}" width=25px height=25px align="right" /> -->
                <li class="list-group-item">
                    {%if user in object.like.all %}                    
                    <a href="{% url 'photo:like' object.id %}" >
                        <img src="{% static 'image/shaded_heart.png' %}" class="btn-like.active" width=25px height=25px align="right"></img></a>
                    {% else %}
                        <a href="{% url 'photo:like' object.id %}" >
                            <img src="{% static 'image/heart.png' %}" class="btn-like" width=25px height=25px align="right"></img></a>
                    {%endif%}
                    {% if object.like.all.count %}
                        <span class="float-left" text-align="right">
                           {{object.like.all.count}}
                        </span>
                    {%endif%}
                </li>

                <div class="card-header" align="left">
                    {{ object.author }} >
                </div>

                <div class="card-body">
                    <p class="card-text" align="left"> # {{ tag.0 }} # {{tag.1}} # {{tag.2}} </p>
                </div>

            </div>
        </div>
        <!-- {% block content %}
            {% endblock %} -->
        <!-- <img id="heart" src="{% static 'image/heart.png' %}" width=30px height=30px align="right" /> -->

        {% endfor %}
    </div>
</div>
</body>

</html>