{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
        <title> Photest </title>
        <meta charset = "utf-8">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        
        <script> //window onload 
        $(document).ready(function(){ 
            
                var width = $(window).width(); 
                var height = $(window).height(); //화면을 가리는 레이어의 사이즈 조정 
                $(".backLayer").width(width); 
                $(".backLayer").height(height); //화면을 가리는 레이어를 보여준다 (0.5초동안 30%의 농도의 투명도) 
                $(".backLayer").fadeTo(500, 0.3); //팝업 레이어 보이게 
                var uploadDivObj = $("#uploadDiv"); 
               // uploadDivObj.css("top", $(document).height()/2-150); 
               // uploadDivObj.css("left",$(document).width()/2-150); 
                uploadDivObj.fadeIn(500); 
       
        });
    
     /*   //X 클릭하면 화면 잠근 풀기로바꿔야함!!!!!!!!
        $(document).onclick(function(event){ 
            if(event.which=='27'){ 
                $("#loadingDiv").fadeOut(300); 
                $(".backLayer").fadeOut(1000); 
            }
        });  */
    
        </script>
    </head>
    <body>
        <div id = "title">
        <font size = "30" color = "gray"> Photest</font>
        <font size = "5" color = "gray"> _Photo Contest </font>
        </div>
        <div id = "category">
            <button id = "best_btn" class = "button"> Best </button> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id = "mypage_btn" class = "button"> Mypage </button>
        </div><br><br>

        <div class="today-hashtag-container">
            <h2>오늘의 해시태그</h2>
        </div>

        <div class="today-hashtag">
            <h1><a href="/" style="color:black"># 노을 </a></h1>
        </div>
        <Br><Br><br></br></br></br>

        <div id = "search">
            <input type = "text" id = "isearch" placeholder = "# Hashtag를 입력하세요">
            <button id = "bsearch"> 검색 </button>
            My favorite Hashtag : 
        </div>

        <div id = "board">
        <div id = "add">
            <button class = "button"> + </button>
        </div>

        <div id = "frame">
            <div id = "photos">
            </div>
            <img src=".shaded_heart.png" align = "right"/>
        </div>

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=".heart.png" align = "right"/>
            </div>
        

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=".heart.png" align = "right"/>
            </div>
        </div>

        <div id = "frame">
                <div id = "photos">
                </div>
                <img src=".heart.png" align = "right"/>
            </div>
        </div>


        <div class="backLayer"> 
        </div> 


        <center>
        
        <div id="uploadDiv"> 
            <div id = "uploadFrame">
                +
            </div>
            <br>
            <!-- <label for="ex_file">image</label> 
            <input type="file" id="ex_file"> <br><Br> -->

            Hashtag : <input type="text" id="hashtag">
            <Br><Br>
            {% block content %}
            {% endblock %}
        </div>
    </center>
    </div>
    </body>
</html>