{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <title> Photest </title>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript"> //window onload 
        $(document).ready(function () {

            var width = $(window).width();
            var height = $(window).height(); //화면을 가리는 레이어의 사이즈 조정 
            $(".backLayer").width(width);
            $(".backLayer").height(height); //화면을 가리는 레이어를 보여준다 (0.5초동안 30%의 농도의 투명도) 
            $(".backLayer").fadeTo(500, 0.3); //팝업 레이어 보이게 
            var uploadDivObj = $("#uploadDiv");
            uploadDivObj.fadeIn(500);

        });

        function add_div() {
            var div = document.createElement('div');
            div.innerHTML = document.getElementById('frame').innerHTML;
            document.getElementById('frame').appendChild(div);
        }

    </script>
</head>

<body style="overflow-x:hidden;overflow-y:hidden">
        <div class="title">
        <font id="short-title"> Photest</a></font>
        <font id="long-title">_Photo Contest </font>
    </div>


    <div class="backLayer">
    </div>


    <center>
        <div id="uploadDiv">
            <div class="data">
                <div class="button">
                    <form  method="post" enctype="multipart/form-data" action="{% url 'photo:photo_insert' %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        Author : {{user.username}} <br><Br>
                        image : <input type="file" name="image" id="image"  /> <Br><Br>
                        Hashtag :
                        # <input class="underline" name="hashtag1" type="text">
                        # <input class="underline" name="hashtag2" type="text">
                        # <input class="underline" name="hashtag3" type="text"> <Br><Br>
                        <input type="submit" id="post" onclick="add_div()" value="POST" />
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </center>
</body>

</html>