html {
    scroll-behavior: smooth;
}

#title {
    position : relative;
    left : 25px;
    top : 20px;
}

#category {
    position : relative;
    top : 10px;
    left : 1025px;
}

#notice {
    position : relative;
    border : 3px solid gray;
    width : 700px;
    height : 50px;
}

#join {
    position : relative;
    top : 20px;
    padding : 20px;
    border : 1px solid gray;
    width : 660px;
    height : 180px;
}

.button {
    background-color: white;
    color: #777777;
    border: 2px solid #ffffff; 
  }
 