<html>
    <head>
        <title>Photest</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
            <div class = "title">
                <font size = "30" color = "gray"> Photest</font>
                <font size = "5" color = "gray"> _Photo Contest </font>
            </div>
            <div id = "category">
                <button id = "best_btn" class = "button"> Best </button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id = "board_btn" class = "button"> Board </button>
            </div><br><br>
                    
            <canvas id = "intro" width = "750" height = "100"></canvas>
                <script type = "text/javascript">
                    var wpcanvas = document.getElementById("cvs");
                    var wpcontext = wpcanvas.getContext("2d");
                    wpcontext.fillRect(20, 20, 100, 100);
                </script>
            
                <div class = "log" style="border:1px solid gray; height: 100px; width: 300px;">
                    &nbsp&nbsp&nbspID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <input class="underline" type = "text" name = "user_id"> <br>
                    &nbsp&nbsp&nbspPassword &nbsp: <input class="underline" type = "text" name = "password"><br>
                    <button id = "join_btn" onclick = "location = 'join.html'"> Join </button>
                    <button id = "login_btn"> Login </button>
                </div>

        <div class="today-hashtag-container">
            <h2>오늘의 해시태그</h2>
        </div>

        <div class="today-hashtag">
            <!--
            //{% if user.is_authenticated %}
            //    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            //{% endif %}
            -->
            <h1><a href="/" style="color:black"># 노을 </a></h1>
        </div>
        <Br><Br><br></br></br></br>

        <div class="yesterday-hashtag-container">
            <h4>어제의 해시태그</h4>
        </div>
        <div class="yesterday-hashtag">
            <h2># 건후 </h2>
        </div>
        <div class="yesterday-first">
            <img src="C:\Users\dpwl2\Pictures\sample.jpg" alt=""/>
        </div>
        <br></br>
        <div class="yesterday-else">
                <img src="C:\Users\dpwl2\Pictures\sample.jpg" alt=""/>
                <img src="C:\Users\dpwl2\Pictures\sample.jpg" alt=""/>
                <img src="C:\Users\dpwl2\Pictures\sample.jpg" alt=""/>
                <img src="C:\Users\dpwl2\Pictures\sample.jpg" alt=""/>
        </div>

        
        <div id = "search">
                <input type = "text" id = "isearch" placeholder = "# Hashtag를 입력하세요">
                <button id = "bsearch"> 검색 </button>
                </div>
    </body>
</html>