html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 400%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 150%;
    color : gray;
}

#category {
    position : relative;
    top : 0%;
    left : 70%;
}

#mypage_btn {
    position : relative;
    top : 3%;
    left : 2%;
    font-size : 20px;
    font-weight : bold;
    border-radius : 5px;
}

#board_btn {
    position : relative;
    top : 3%;
    left : 4%;
    font-size : 20px;
    font-weight : bold;
    border-radius : 5px;
}

#best_btn {
    position : relative;
    top : 3%;
    left : 6%;
    font-size : 20px;
    font-weight : bold;
    border-radius : 5px;
}

h1 {
    position : relative;
    left : 6%;
}

.button {
    background-color: white;
    color: #777777;
    border: 2px solid #ffffff; 
}

#day {
    position : relative;
    width : 95%;
    left : 7%;
    height : auto;
    float : left;
}

#date {
    position : relative;
    left : 7%;
}

#frame {
    position : relative;
    padding : 0.5%;
    width : 250px;
    height : 250px;
    border : 1px solid gray;
    float : left;
    margin-right : 1.2%;
}

#photos {
    width : 250px;
    height : 250px;
    position : relative;
    border : 1px solid gray;
    margin-right : 3px;
    float : left;
}