html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 100%;
    color : gray;
}

#category {
    position : relative;
    top : 3%;
    left : 71%;
}

#mypage_btn {
    position : relative;
    top : 3%;
    left : 1%;
}

#board_btn {
    position : relative;
    top : 3%;
    left : 4%;
}

#best_btn {
    position : relative;
    top : 3%;
    left : 6%;
}

h1 {
    position : relative;
    left : 6%;
}

.button {
    background-color: white;
    color: #777777;
    border: 2px solid #ffffff; 
  }

#day {
    position : relative;
    width : 95%;
    left : 5%;
    height : auto;
    /* border : 1px solid gray; */
    /* margin-right : 5%; */
    float : left;
}

#frame {
    position : relative;
    padding : 0.5%;
    width : 200px;
    height : 260px;
    border : 1px solid gray;
    float : left;
    margin-right : 1.2%;
}

#photos {
    width : 200px;
    height : 220px;
    position : relative;
    border : 1px solid gray;
}