html {
    scroll-behavior: smooth;
}

#title {
    position : relative;
    left : 25px;
    top : 20px;
}

#category {
    position : relative;
    top : 10px;
    left : 1025px;
}

.button {
    background-color: white;
    color: #777777;
    border: 2px solid #ffffff; 
  }

#add {
    position : relative;
    left : 20px;
    top : 180px;
    width : 200px;
    height : 200px;
    border : 1px solid gray;
  
}

#search {
    position : relative;
    height : 40px;
    width : 900px;
    border : 1px solid gray;
    top : 120px;
    left : 20px;
}
 
#isearch {
    font-size : 16px;
    width : 830px;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

#bsearch {
    width : 50px;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}