html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 100%;
    color : gray;
}

#intro {
    position : relative;
    border : 1px solid #CAB4D6;
    left : 7%;
    top : 14%;
    display: inline-block;
    width: 62%;
    overflow : hidden;
    height : auto;
    background-color: #CAB4D6;
    border-radius : 15px;
}

#intro h3 {
    color : white;
}

#logout_btn{ 
    position : relative;
    top : 35%;
    left : 26%;
    width : 30%;
    height : 30%;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}

#category {
    position : relative;
    top : 0%;
    left :65%;
}

#board_btn {
    position : relative;
    top : 3%;
    left : 0%;
}

#mypage_btn {
    position : relative;
    top : 3%;
    left : 0%;
}

#best_btn {
    position : relative;
    top : 3%;
    left : 0%;
}

.log {
    overflow : hidden;
    border : 1px solid #999999;
    color : gray;
    position : relative;
    width : 20%;
    height : 18%;
    top : -19%;
    left : 72%; 
}

input.underline {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}

.button {
    background-color: white;
    color: #777777;
    border: 3px solid #ffffff; 
}

#logoutbtn {
    position : relative;
    top : 35%;
    left : 12%;
    width : 30%;
    height : 30%;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}

.today-hashtag-container {
    position : relative;
    left : 10%;
    top : -10%;
    font-size: 150%;
    color : gray;
}
 
.today-hashtag {
    position:relative;
    top: 0%;
    text-align: center;
    font-size: 130%;
}

.yesterday-hashtag-container{
    position:relative;
    left: 10%;
    top: -10%;
    font-size: 150%;
    color : gray;
}

.yesterday-hashtag {
    position:relative;
    left: 30%;
    top: 10%;
    font-size: 125%;
    /* padding: 40px 20px 10px 550px; */
}

.yesterday-first img{
    position:relative;
    left: 67%;
    top: 50%;
    height: 50%; 
    width: 50%;
}

.yesterday-else {
    position:relative;
    left: 10%;
    top: -100px;
    
}

.yesterday-else img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    padding: 0px 90px 10px 10px;
}

#search {
    position : relative;
    height : 40px;
    width : 1080px;
    border : 1px solid gray;
    top : 100px;
    left : 200px;
}
 
#isearch {
    font-size : 16px;
    width : 830px;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

#bsearch {
    width : 50px;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}