html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 100%;
    color : gray;
}

#intro {
    position : relative;
    border : 1px solid #CAB4D6;
    left : 7%;
    top : 14%;
    display: inline-block;
    width: 62%;
    overflow : hidden;
    height : auto;
    background-color: #CAB4D6;
    border-radius : 15px;
}

#intro h3 {
    color : white;
}

#category {
    position : relative;
    top : 3%;
    left : 71%;
}

#mypage_btn {
    position : relative;
    top : 3%;
    left : 1%;
}

#board_btn {
    position : relative;
    top : 3%;
    left : 4%;
}

#best_btn {
    position : relative;
    top : 3%;
    left : 6%;
}

.log {
    overflow : hidden;
    border : 1px solid #999999;
    color : gray;
    position : relative;
    width : 20%;
    height : 18%;
    top : -10%;
    left : 72%; 
}

input.underline {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}

.button {
    background-color: white;
    color: #777777;
    border: 3px solid #ffffff; 
}

#join_btn {
    position : relative;
    top : 35%;
    left : 12%;
    width : 30%;
    height : 30%;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}

#login_btn{ 
    position : relative;
    top : 35%;
    left : 26%;
    width : 30%;
    height : 30%;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}

#logout_btn{ 
    position : relative;
    top : 35%;
    left : 0%;
    width : 30%;
    height : 30%;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}

.today-hashtag-container {
    position : relative;
    left : 10%;
    top : -10%;
    font-size: 150%;
    color : gray;
}
 
.today-hashtag {
    position:relative;
    top: 0%;
    text-align: center;
    font-size: 130%;
}

.yesterday-hashtag-container{
    position:relative;
    left: 10%;
    top: -10%;
    font-size: 150%;
    width : 300px;
    color : gray;
}

.yesterday-hashtag {
    position:relative;
    left: 25%;
    top: 8%;
    font-size: 125%;
    width : 200px;
    height : 100px;
    float : left;
    border : 1px solid black;
    /* padding: 40px 20px 10px 550px; */
}

.yesterday-hastag h2 {
    text-align : center;
}

.yesterday-first img{
    position:relative;
    left: 50%;
    top : 10%;
    height: 300px; 
    width: 300px;
}

.yesterday-else {
    position:relative;
    left: 10%;
    top: -10%;
}

.yesterday-else img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    /* padding: 0px 50px 10px 10px; */
    padding : 2%;
}

/* 검색과 관련된 영역 */
#search {
    position : relative;
    height : 8%;
    width : 82%;
    border : 1px solid gray;
    top : 0%;
    left : 10%;
}
 
/* 검색 필드 */
#isearch {
    font-size : 16px;
    width : 80%;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

/* 검색 버튼 */
#bsearch {
    width : 8%;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}