html{
    scroll-behavior: smooth;
}

.title{
    position : relative;
    left : 200px;
    top : 20px;
}

#category {
    position : relative;
    top : 0px;
    left : 1130px;
}

canvas {
    position : relative;
    top : -20px;
    left : 200px;
    border:1px;
    background : #CAB4D6;
    
}

#intro {
    border-radius: 20px;
}

.log {
    /*border : 1px solid gray;*/
    color : gray;
    position : relative;
    top : -120px;
    left : 990px;
}

input.underline {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    }

.button {
    background-color: white;
    color: #777777;
    border: 2px solid #ffffff; 
  }
 
#join_btn {
    position : relative;
    top : 10px;
    left : 80px;
    border-top-left-radius: 5px; border-bottom-left-radius: 5px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
    border-color : #CAB4D6;
    background-color: white;
}

#login_btn {
    position : relative;
    top : 10px;
    left : 85px;
    border-top-left-radius: 5px; border-bottom-left-radius: 5px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
    border-color : #CAB4D6;
    background-color: white;
}

#today {
    position : relative;
    top : 230px;
    left : 140px;
}

#todayHash {
    width : 300px;
    height : 150px;
}

#yesterday {
    color:red;  
    
}

#search {
    position : relative;
    height : 40px;
    width : 1080px;
    border : 1px solid gray;
    top : 1100px;
    left : 200px;
}
 
#isearch {
    font-size : 16px;
    width : 830px;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

#bsearch {
    width : 50px;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}

a { text-decoration:none }

.today-hashtag-container h2{
    position:relative;
    left: 200px;
    top: -80px;
    color: gray;
    font-size: 20pt;
    /*padding: 0px 20px 10px 200px;*/
}

.today-hashtag h1{
    position:relative;
    top: 0px;
    text-align: center;
    font-size: 40pt;
}

.yesterday-hashtag-container h4{
    position:relative;
    left: 200px;
    top: 0px;
    color: gray;
    font-size: 15pt;
}

.yesterday-hashtag h2{
    position:relative;
    left: 0px;
    top: 0px;
    font-size: 25pt;
    padding: 40px 20px 10px 550px;
}

.yesterday-first img{
    position:relative;
    left: 985px;
    top: -200px;
    overflow: hidden; 
    height: 300px; 
    width: 300px;
}

.yesterday-else {
    position:relative;
    left: 200px;
    top: -200px;
    /*padding: 10px 20px 10px 200px;*/
}

.yesterday-else img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    padding: 0px 90px 10px 0px;
}