html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
}

#long-title {
    font-size : 100%;
    color : gray;
}

#category {
    position : relative;
    top : 3%;
    left : 80%;
}

.button {
    background-color: white;
    color: #777777;
    border: 3px solid #ffffff; 
}

#best_btn {
    position : relative;
    top : 0%;
    left : 6%;
}

.today-hashtag-container {
    position:relative;
    left: 200px;
    top: 5px;
    color: gray;
    font-size: 20pt;
    /*padding: 0px 20px 10px 200px;*/
}

.today-hashtag h1{
    position:relative;
    top: 0px;
    text-align: center;
    font-size: 40pt;
}

#add {
    position : relative;
    padding : 10px;
    left : 20px;
    top : 180px;
    width : 250px;
    height : 330px;
    border : 1px solid gray;
    margin-right : 50px;
    float : left;
}

#frame {
    position : relative;
    padding : 10px;
    width : 250px;
    top : 180px;
    height : 330px;
    border : 1px solid gray;
    float : left;
    margin-right : 50px;
}

#photos {
    width : 250px;
    height : 260px;
    position : relative;
    border : 1px solid gray;
}

#search {
    position : relative;
    height : 40px;
    width : 900px;
    border : 1px solid gray;
    top : 120px;
    left : 20px;
}
 
#isearch {
    font-size : 16px;
    width : 830px;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

#bsearch {
    width : 50px;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}

#board {
    width : 1300px;
    height : 2000px;
    border : 1px solid black;
    float : left;
}