html{
    scroll-behavior: smooth;
}

a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 100%;
    color : gray;
}

#category {
    position : relative;
    top : 3%;
    left : 71%;
}

#mypage_btn {
    position : relative;
    top : 3%;
    left : 1%;
}

#board_btn {
    position : relative;
    top : 3%;
    left : 4%;
}

#best_btn {
    position : relative;
    top : 3%;
    left : 6%;
}

.button {
    background-color: white;
    color: #777777;
    border: 3px solid #ffffff; 
}

.today-hashtag-container {
    position:relative;
    left: 10%;
    top: 0%;
    color: gray;
    font-size: 20pt;
    /*padding: 0px 20px 10px 200px;*/
}

.today-hashtag {
    position:relative;
    /* text-align: center; */
    left : 40%;
}

#board {
    position : relative;
    width : 90%;
    left : 8%;
    top : -15%;
    /* height : 2000px; */
    /* border : 1px solid black; */
    float : left;
}

#add {
    position : relative;
    padding : 1%;
    left : 4.3%;
    top : 130px;
    width : 250px;
    height : 330px;
    border : 1px solid gray;
    margin-right : 1%;
    margin-bottom: 5%;
    float : left;
}

#frame_frame{
    position : relative;
    top:5%;
    left:0%;
   
}


#frame {
    position : relative;
    padding : 1%;
    width : 250px;
    top : 130px;
    height : 330px;
    border : 1px solid gray;
    float : left;
    margin-left : 4.4%;
    margin-right : -3.2%;
    margin-bottom: 5%;
}

#photos {
    width : 250px;
    height : 260px;
    position : relative;
    border : 1px solid gray;
}

/* 검색과 관련된 영역 */
#dsearch {
    position : relative;
    height : 8%;
    width : 77%;
    border : 1px solid gray;
    top : 0%;
    left : 12%;
}
 
/* 검색 필드 */
#isearch {
    font-size : 16px;
    width : 80%;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

/* 검색 버튼 */
#bsearch {
    width : 8%;
    height : 100%;
    border : 0px;
    outline: none;
    float: right;
}

