a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.backLayer { 
    display:none; 
    background-color:black; 
    position:absolute; 
    left:0px; top:0px; 
} 
    
#uploadDiv{ 
    background-color:white; 
    position: absolute; 
    top : 200px;
    left : 450px;
    width:480px; 
    height:300px; 
    padding : 50px;
}

.data{
    padding: 80px 0px 0px 0px;
}

html {
    scroll-behavior: smooth;
}

.title{
    position : relative;
    left : 7%;
    top : 5%;
}

#short-title {
    font-size : 250%;
    color : gray;
    font-weight : bold;
}

#long-title {
    font-size : 100%;
    color : gray;
}

.underline{
    width:20%;
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:2px;
}

.button{
    background-color: white;
    color: #777777;
    border: 3px solid #ffffff; 
}

#post{
    align-self: center;
    border-radius : 5px;
    border-color : #CAB4D6;
    background-color: white;
}